@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
input[type="number"].input-number-appearance-none::-webkit-inner-spin-button,
input[type="number"].input-number-appearance-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Header */
.nav-menu > ul > li {
  @apply leading-[48px];
}
.has-child-menu {
  @apply relative;
}
.has-child-menu:hover .child-menu {
  @apply block;
}
.child-menu {
  @apply absolute bg-white text-primary p-5 rounded-b-md shadow-lg space-y-5 shadow-black/5 min-w-[250px] hidden;
}
ul.child-menu > li {
  @apply transition-colors ease-linear duration-200 leading-6;
}
ul.child-menu > li:hover {
  @apply text-black;
}

/* Sidebar */
.sidebar-list {
}
.sidebar-list > li > a {
  @apply border-b flex items-center border-gray-100 py-3 px-3 text-sm tracking-wide hover:bg-gray-50;
}
.sidebar-list > li:last-child > a {
  @apply border-b-0 flex;
}

/* Footer */
.footer-nav {
  @apply inline-flex items-center;
}
.footer-nav > li {
  @apply px-5 hover:text-gray-300;
}

/* select {
  appearance: none;
}
select::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #000;
} */

/* React Colorful */
.color-picker .react-colorful {
  width: 120px;
  height: 120px;
}
.color-picker .react-colorful__hue {
  height: 20px;
}

/** Horizontal Tab */
.horizontal-tab {
  @apply border-b border-b-gray-200 flex overflow-y-hidden space-x-1 overflow-x-scroll;
}
.horizontal-tab-item {
  @apply inline-flex items-center space-x-1 border border-gray-200 px-4 py-2 rounded-t-md -mb-[1px] cursor-pointer hover:bg-gray-100 text-sm;
}
.horizontal-tab-item.active {
  @apply bg-primary text-white border-primary;
}
